@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Sora", sans-serif;
}
.bg{
  background-image: url('./assets/bg-shadow.png');
  background-size: cover;
  border-radius: 12px;
}
.btn{
  border: 2px solid #E7FE29;
}
